<div class="banner banner-collection" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
url(https://static01.nyt.com/images/2020/01/29/opinion/29Ehikhamenor1/merlin_165734295_cd0ed8e7-66c6-4301-ace8-4665ad821374-superJumbo.jpg);">
  <div class="collection-title text-center text-white">
    <div class="mb-2 mt-5 main-title">
      <h1 class="mr-2 mb-2"><%= @collection.name %></h1>
      <h3>The Collection</h3>
    </div>
  </div>
</div>



<div class="opening-section mt-5">
    <div class="collection-introduction">
      <h3>What are they?</h3>
      <p><%= @collection.introduction %></p>
    </div>
    <div class="collection-box">
      <div class="flex-item"><h3>Origin Location:</h3><p><%= @collection.origin_location %></p></div>
      <div class="flex-item"><h3>Period:</h3><p><%= @collection.period %></p></div>
      <div class="flex-item"><h3>Total number of artefacts in this collection worldwide:</h3><p><%= @collection.number_of_artefacts %></p></div>
      <div class="flex-item"><h3>Number of museums who own <%= @collection.name %>:</h3><p><%= @collection.number_of_museums %></p></div>
    </div>
</div>

<div class="collection-map mt-5">
    <div class="show-map"
       id="map"
       style="width: 80%; height: 598px; margin: 0 auto;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>

<div class="context-container mt-5 d-flex">
  <div class="collection-context">
    <h3 class="text-center">Further context</h3>
    <p><%= @collection.context %></p>
  </div>
</div>

<div class="container">
  <h2 class="collection-renowned-works">Renowned artefacts from <%= @collection.name%></h2>
  <div class="cards-collection-artefacts mb-5">
    <% @artefacts.first(6).each do |artefact| %>
      <div class="card-artefact">
        <%= cl_image_tag artefact.photo.key %>
        <div class="card-artefact-infos">
          <%= link_to(artefact_path(artefact), class: "link-to-text :hover") do %>
          <h2><%= artefact.name %></h2>
          <% end %>
          <p><%= "Origin: #{artefact.origin_location}, #{artefact.origin_year}" %></p>
          <p><%= "Currently: #{artefact.current_location}" %></p>
          <div class="card-icons">
            <a class="btn twitter-icon"
              href="https://twitter.com/intent/tweet?text=Find out how the <%= artefact.name %> came to be at the <%= artefact.current_location %>.&url=<%= artefact_url(artefact, protocol: 'https') %>&hashtags=stolenartefact,decolonizemuseums"
              target="_blank"><i class="fab fa-twitter"></i></a>
            <% if current_user.favorited?(artefact) %>
              <div class="card-like"><%= link_to ("<i class='fas fa-heart like-icon red' data-id='#{artefact.id}'></i>").html_safe, toggle_favorite_artefact_path(artefact), remote: true, method: :post %></div>
            <% else %>
              <div class="card-like"><%= link_to ("<i class='far fa-heart like-icon gray' data-id='#{artefact.id}'></i>").html_safe, toggle_favorite_artefact_path(artefact), remote: true, method: :post %></div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
