<h1>User profile page</h1>

<%= @user.name %>

<div class="container">

  <h2>My Collection</h2>
  <div class="cards-artefacts">
    <% @user.all_favorited.each do |artefact| %>
      <div class="card-artefact">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-artefact-infos">
          <h2><%= artefact.name %></h2>
          <p><%= "Originated: #{artefact.origin_location}, #{artefact.origin_year}" %></p>
          <p><%= "Current Location: #{artefact.current_location}" %></p>
          <% if current_user.favorited?(artefact) %>
            <div class="card-like"><%= link_to ("<i class='fas fa-heart like-icon red' data-id='#{artefact.id}'></i>").html_safe, toggle_favorite_artefact_path(artefact), remote: true, method: :post %></div>
          <% else %>
            <div class="card-like"><%= link_to ("<i class='far fa-heart like-icon gray' data-id='#{artefact.id}'></i>").html_safe, toggle_favorite_artefact_path(artefact), remote: true, method: :post %></div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
