<div class="navbar-artefact"></div>

<div class="home-intro">
  <div class="home-images">
    <% 8.times do |index| %>
      <div class="background-home-image-<%= index +1 %>">
      </div><div class="empty"></div>
    <% end %>
  </div>

  <div class="home-banner">
    <span class="home-title"><% "I'M A STOLEN ARTEFACT/GET ME OUT OF HERE".split("").each_with_index do |letter, i| %>
      <% if letter == "/" %>
        <br>
      <% elsif letter == " " %>
        <span class="d-inline-block letter-space"></span>
      <% else  %>
        <h1 class="text-pop<%=i+1%>"><%= letter %></h1>
      <% end %>
    <% end %>
    <div class="arrow-bounce">
      <a href="#arrow">
        <i class="arrow fas fa-arrow-down"></i>
      </a>
    </div>
    </span>
  </div>
</div>

<a id="arrow"></a>
  <div class="about-container">
    <div class="about">
      <p>This website aims to contribute to the work which many have done towards the repatriation of artefacts forcibly taken through Empire. We believe the public needs to know the truth about how artefacts came to be in the possession of publicly-funded museums. We believe that countries with colonial pasts need to confront and critically engage with these enduring legacies. Museums and galleries will always be part of this conversation and they have crucial resources to be part of the solution.
      <br>
      <br>
      Thousands of artefacts and artworks were stolen from their origin countries through European colonialism. Many were taken through violence, deception and theft. They are currently held in collections throughout the Western World. These works are sometimes on display, rarely loaned and typically hidden in archives.
      <br>
      <br>
      We hope this site will grow to be a true reflection of the scale of this issue and that wider knowledge will make this impossible to ignore.
      </p>
    </div>
  </div>

  <div class="container-home">
    <h1 class="pt-4 pb-2">Explore Artefacts</h1>
      <div class="cards-home mb-8">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/raella/image/upload/v1623861956/artefacts/adjaye_museum_tzesfs.jpg)">
          <% if Rails.env.production? %>
          <%= link_to "African origin", "https://www.stolenartefact.com/artefacts", class: "link-to-text-home :hover" %>
          <% else %>
          <%= link_to "African origin", "http://localhost:3000/artefacts", class: "link-to-text-home :hover" %>
          <% end %>
        </div>


          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1504194067793-7621b2f43e6d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80.jpg)">
          <% if Rails.env.production? %>
          <%= link_to "Artefacts", "https://www.stolenartefact.com/artefacts", class: "link-to-text-home :hover" %>
          <% else %>
          <%= link_to "Artefacts", "http://localhost:3000/artefacts", class: "link-to-text-home :hover" %>
          <% end %>
          </div>



        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1499426600726-a950358acf16?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80.jpg)">
          <% if Rails.env.production? %>
          <%= link_to "Met Museum", "https://www.stolenartefact.com/artefacts", class: "link-to-text-home :hover" %>
          <% else %>
          <%= link_to "Met Museum", "http://localhost:3000/artefacts", class: "link-to-text-home :hover" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
