<div class="museum-animation-container">
  <img class="front-image" <%=cl_image_tag("https://res.cloudinary.com/raella/image/upload/v1623847707/artefacts/british_museum_xytt2n.jpg")%>
  <span class="hover-container">
    <span class="image-container">
      <img class="inner-image" <%=cl_image_tag("https://res.cloudinary.com/raella/image/upload/v1623683726/artefacts/benin46_kehxnh.jpg")%>
    </span>
  </span>
</div>

<div class="container">
  <div class="row">
    <div class="col-6 museum-infos">
      <div class="card-museum">
        <img src="https://images.unsplash.com/photo-1574515529318-b3a2cd51242e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2051&q=80" alt="british museum">
        <div class="card-museum-infos">
          <div>
            <h1><%= "The #{@museum.name}" %></h1>
            <p><strong>Founded:  </strong><%= @museum.founded %></p>
            <p><strong>Opened:  </strong><%= @museum.opened %></p>
            <p><strong>Annual Visitors:  </strong><%= " #{@museum.visitors_per_year.to_f} million" %></p>
            <p><strong>Annual Admissions Income:  </strong><%= " £#{@museum.income} million" %></p>
            <p><strong>Public Funding:  </strong><%= @museum.funding %></p>
            <p><strong>Current Director:  </strong><%= @museum.director %></p>
          </div>
        </div>
      </div>
      <div class="container museum-graphs">
        <div class="row">
          <div class="col-6">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/English_dialects1997.svg/1200px-English_dialects1997.svg.png" alt="pie chart">
            <div class="graphic-text"><h5>Artefact Origins</h5></div>
          </div>
          <div class="col-6">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/English_dialects1997.svg/1200px-English_dialects1997.svg.png" alt="pie chart">
            <div class="graphic-text"><h5>Governance</h5></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div>
        <% @artefacts.first(6).each do |artefact| %>
          <div class="card-artefact">
            <%= cl_image_tag artefact.photo.key %>
            <div class="card-artefact-infos">
              <%= link_to(artefact_path(artefact), class: "link-to-text :hover") do %>
              <h2><%= artefact.name %></h2>
              <% end %>
              <p><%= "Originated: #{artefact.origin_location}, #{artefact.origin_year}" %>
              <%= "Current Location: #{artefact.current_location}" %></p>
              <div class="card-icons">
                <%= social_share_button_tag("Find out how the #{artefact.name} came to be at the #{artefact.current_location}. #stolenartefact #decolonizemuseums", :url => "https://www.stolenartefact.com#{artefact_path(artefact)}", desc: "Check out this link to learn more about how #{artefact.name} came to be at #{artefact.current_location}.") %>
                <% if current_user.favorited?(artefact) %>
                  <div class="card-like"><%= link_to ("<i class='fas fa-heart like-icon red' data-id='#{artefact.id}'></i>").html_safe, toggle_favorite_artefact_path(artefact), remote: true, method: :post %></div>
                <% else %>
                  <div class="card-like"><%= link_to ("<i class='far fa-heart like-icon gray' data-id='#{artefact.id}'></i>").html_safe, toggle_favorite_artefact_path(artefact), remote: true, method: :post %></div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>


