<div class="top-0 left-0 d-flex position-absolute h-100 border-box">
  <div class="w-50 border-dark border-right">
  </div>
  <div class="w-50">
  </div>
</div>

<div class="parallax">
  <div class="parallax__group">
    <header>
      <div class="text-center text-white">
        <div class="d-inline-flex mb-2 mt-5 main-title">
          <h1 class="mr-2 mb-2"><%= @artefact.name %></h1>
          <% if current_user.favorited?(@artefact) %>
            <div><%= link_to ("<i class='fas fa-heart like-icon red' data-id='#{@artefact.id}'></i>").html_safe, toggle_favorite_artefact_path(@artefact), remote: true, method: :post %></div>
          <% else %>
            <div><%= link_to ("<i class='far fa-heart like-icon gray' data-id='#{@artefact.id}'></i>").html_safe, toggle_favorite_artefact_path(@artefact), remote: true, method: :post %></div>
          <% end %>
        </div>
        <br>
        <div class="locations d-inline-flex">
          <div><h3><%= @artefact.origin_location %></h3></div>
          <div class="current-location ml-2 border-left border-danger px-2"><h4><%= @artefact.current_location %></h4></div>
        </div>
        <div class="artefact-details">
          <p>
            The <%= @artefact.name %> is currently on display at <%= @artefact.current_location %>. Its provenance can be traced back to <%= @artefact.origin_location %>, <%= @artefact.origin_year %>, made by the <%= @artefact.made_by %> people to <%= @artefact.context %>.
            <%= link_to "View the Collection".upcase, collection_path(@artefact.collection.id) %>
          </p>
        </div>
      </div>
    </header>
  </div>

  <% @artefact.events.each do |event| %>
    <div class="parallax__group d-flex align-items-center">
      <div class="parallax__layer parallax__layer--image d-flex ml-2">
        <%= cl_image_tag event.photo.key %>
      </div>
      <div class="parallax__layer parallax__layer--dot d-flex justify-content-center"><h3> • </h3></div>
      <div class="parallax__layer parallax__layer--text">
        <div class="text-card ml-4">
          <h2><%= event.date %></h2>
          <p><%= event.description %></p>
        </div>
      </div>
    </div>
    <div class="h-20"></div>
  <% end %>
  <div class="view-more d-flex justify-content-center collection-button">
    <%= link_to "Learn more about the Collection", collection_path(@artefact.collection.id) %>
  </div>
</div>
