<!DOCTYPE html>
<html>
  <head>
    <title>Stolen Artefact</title>
    <meta name="I'm a stolen artefact, get me out of here!" content="Discover the true history of some of your favorite museum artefacts. Where did they come from and how did they end up here?">
    <meta charset="utf-8">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

  <div class="page-height">
    <%= yield %>
  </div>
    <%= render "shared/footer" %>
  </body>
</html>
